.error-page {
  margin: 0;
  margin-top: 100px;
  width: 100%;
  height: 600px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://freefrontend.com/assets/img/html-funny-404-pages/HTML-404-Error-Page.gif);
  background-repeat: no-repeat;
  background-position: center;
}
