.registration__submit {
  margin: 0;
  margin-top: 216px;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
