.registration__link {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0;
  margin-top: 15px;
  padding: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  align-items: center;
}
