.form__set{
  margin: 0 auto;
  padding: 0;
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 920px){
  .form__set{
    min-width: 100%;
  }
}

