.header{
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 45px auto 0;
  padding: 0;
  padding-bottom: 38px;
  max-width: 880px;

}
@media screen and (max-width: 920px){
  .header{
    margin: 27px auto 0;
    max-width: 320px;
    padding-bottom: 30px;
  }
}
